@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Manrope:wght@500;600;700;800&display=swap");

/*
=============== 
Variables
===============
*/
:root {
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --transition: all 0.3s linear;
  --font-family: "Manrope", sans-serif;
  --white: #fff;
  --black: #000;
  --light-grey: #64607d;
  --btn-bg-color: #4f46ba;
  --grey: #dee1e6;
  --font-size-big: 42px;
  --font-size-medium: 20px;
  --font-size-small: 18px;
  --font-size-extra-small: 16px;
  --border-radius: 10px;
}

/*
=============== 
Global Selectors
===============
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family);
}
button {
  border: none;
  outline: none;
  background: var(--btn-bg-color);
  color: var(--grey);
  border-radius: var(--border-radius);
  width: 195px;
  height: 60px;
  font-weight: 600;
  font-size: var(--font-size-extra-small);
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  transition: var(--transition);
}

button:hover {
  transform: scale(1.1);
}
/*
=============== 
General Class Selectors
===============
*/
.big {
  font-weight: 800;
  font-size: var(--font-size-big);
  line-height: 50px;
  letter-spacing: -0.03em;

  color: #000000;
}
.light-grey {
  color: var(--light-grey);
  font-size: var(--font-size-extra-small);
}
.bold {
  font-weight: 800;
}

.content-top-section {
  display: flex;
  align-items: center;
  gap: 19px;
}

/*
=============== 
Blog Section
===============
*/
#blog .blog {
  width: calc(100vw - 122px);
  margin: 198px auto;
  max-width: 1196px;
  height: 633px;
}

#blog .blog .blog-header {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  display: grid;
  grid-template-columns: 4fr 1fr;
  
}

/*
=============== 
Blog Main Section
===============
*/

#blog .blog .blog-main-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 66px;
  gap: 30px;
}

/*
=============== 
Blog Left Section
===============
*/

#blog .blog .blog-left-section {
  display: flex;
  gap: 30px;
}
#blog .blog .blog-left-section .blog-post {
  width: 380px;
  height: 495px;
}
#blog .blog .blog-left-section .blog-post .blog-post-img img {
  width: 100%;
}

#blog .blog .blog-left-section .blog-post .blog-post-content h3 {
  font-weight: 800;
  font-size: var(--font-size-small);
  line-height: 36px;
  letter-spacing: -0.03em;
}
#blog
  .blog
  .blog-left-section
  .blog-post
  .blog-post-content
  .content-top-section {
  margin-top: 10px;
}
/*
=============== 
Blog Right Section
===============
*/
#blog .blog .blog-main-section .blog-right-section .blog-tile {
  width: 378px;
  height: 110px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 27px 0;
  border-bottom: 2px solid var(--grey);
}
#blog
  .blog
  .blog-main-section
  .blog-right-section
  .blog-tile
  .blog-tile-img
  img {
  width: 100%;
  height: 100%;
}
#blog
  .blog
  .blog-main-section
  .blog-right-section
  .blog-tile
  .blog-tile-content
  h4 {
  font-weight: 800;
  font-size: var(--font-size-small);
  line-height: 30px;
  letter-spacing: -0.03em;
}

/*
=============== 
Media Quires
===============
*/

@media screen and (max-width: 800px) {
  #blog .blog .blog-header {
    width: 150vw;
  }
}

@media screen and (max-width: 500px) {
  button {
    width: 160px;
    height: 50px;
  }

  /*
      =============== 
      Blog Section
      ===============
      */
  #blog .blog {
    width: calc(100vw - 20px);
    padding: 0 20px;
  }

  #blog .blog .blog-header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
  }

  /*
      =============== 
      Blog Main Section
      ===============
      */

  #blog .blog .blog-main-section {
    display: flex;
    flex-direction: column;
  }

  /*
      =============== 
      Blog Left Section
      ===============
      */

  #blog .blog .blog-left-section {
    flex-direction: column;
  }
  #blog .blog .blog-left-section .blog-post {
    width: 355px;
    height: 470px;
  }
}
