@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Manrope:wght@500;600;700;800&display=swap");
@font-face {
  font-family:'Gilroy' ;
  src: url(./fonts/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
  src:url(./fonts/Radomir\ Tinkov\ -\ Gilroy-Light.otf);
}

:root {
  --footer-bg: #3734a9;
  --footer-btn: #ff7f5c;
  --font-family: "Manrope", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
}

/* Footer Section */
#footer .footer {
  width: calc(100vw - 122px);
  max-width: 1440px;
  margin: 69px auto;
  padding-bottom: 40px;
}

#footer .footer .footer-top {
  height: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: var(--footer-bg);
  position:relative;
  padding-right: 8%;
}

/* .footer-top .svg img{
  width:100%;
  height:100%;
} */



.footer-top .polygon-9{
  position:absolute;
  left:0;
  top:220px;
}

.footer-top .polygon-10{
  position:absolute;
  left:42%;
  top:20px;
}

.footer-top .polygon-8{
  position:absolute;
  top:0;
  right:0;
  transform: translateY(-120px);
  z-index: 0;
}


/* Footer Top Left Section */
#footer .footer .footer-top .footer-top-left {
  width: 481px;
}

#footer .footer .footer-top .footer-top-left small {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-bottom: 18px;
}

#footer .footer .footer-top .footer-top-left h2 {
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-bottom: 29px;
}
#footer .footer .footer-top .footer-top-left p {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

/* Footer Top Right Section */
#footer .footer .footer-top .footer-top-right {
  width: 371px;
  margin-top: 63px;
  margin-left: 50px;
}
#footer .footer .footer-top .footer-top-right input {
  width: 100%;
  height:60px;
  padding: 1.5rem 3rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #f2f3f4;
  opacity: 0.2;
  border-radius: 5px;
  font-size: 20px;
  line-height: 30px;
  color: #bbb5e0;
  opacity: 0.4;
  margin-bottom: 20px;
}
#footer .footer .footer-top .footer-top-right .btn-orange {
  background: var(--footer-btn);
  height:60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #ffffff;
  text-align: center;
}
#footer .footer .footer-top .footer-top-right button {
  width: 100%;
  height: 100%;
  
}

/* Footer Bottom Section */

.footer-bottom {
  
  height: 198px;
  margin-top: 66px;
  display: flex;
   justify-content: center; 
   padding-left: 5%;
}
.footer-bottom .social {
  width: 213px;
  height: 153px;
}
.footer-bottom .social h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #1b1c31;
}
.footer-bottom .social p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #757095;
  margin-top: 18px;
}
.footer-bottom .social .icons {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  align-items: center;
}
.icons .icon-2,
.icons .icon-3,
.icons .icon-4 {
  margin-left: 10px;
}
box-icon {
  width: 100%;
  height: 100%;
}
.footer-bottom .company {
  margin-left: 40px;
  color: #181433;
}
.footer-bottom .company .h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
}
.footer-bottom .resources {
  margin-left: 70px;
  color: #181433;
}
ul {
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 24px 0px;
}
ul .link-1 {
  margin-top: 18px;
}
ul .link-2 {
  margin-top: 12px;
}
ul a {
  text-decoration: none;
  color: #181433;
}
.footer-bottom .newsletter {
  color: #181433;
  margin-left: 55px;
}
.footer-bottom .newsletter h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
}
.footer-bottom .newsletter .btn {
  margin-top: 24px;
}
.footer-bottom .newsletter .input-field-1 {
  border: 1px solid #3734a9;
  width: 100%;
  height: 52px;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.02em;
  opacity: 0.2;
}
.footer-bottom .newsletter .input-field-2 {
  background-color: #3734a9;
  color: #fff;
  border: none;
  width: 149px;
  height: 52px;
  border: 1px solid #3734a9;
  position: absolute;
  right: 11%;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.02em;
}
.footer-bottom input {
  width: 100%;
  height: 100%;
}
.footer-bottom .newsletter p {
  
   width: 329px;
  height: 52px; 
  margin-top: 21px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  opacity: 0.5;
}


 .footer .line {
  width: 1000px;
  border:1px solid #E5E5EA;
  margin:40px auto;
  
}


.footer-section {
  text-align: center;
  margin-top: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #181433;
  
}

@media screen and (min-width: 1440px) {
  .footer-bottom .newsletter .input-field-2 {
    right: 13%;
  }
}
@media screen and (min-width:1800px) {
    .footer-bottom .newsletter .input-field-2 {
        right: 20%;
      }
}

@media screen and (max-width:500px){
  #footer .footer .footer-top {
    flex-direction: column;
    width: 100%;
    height:600px;
    padding-right:0;
    
  }

  #footer .footer{
    width: 100vw;
    padding:20px;
    margin:0;
  }

  .svg{
    display:none;
  }
  
  /* Footer Top Left Section */
  #footer .footer .footer-top .footer-top-left {
    width: 200px;
  }
  
  #footer .footer .footer-top .footer-top-left small {
    font-size: 12px;
   
  }
  
  #footer .footer .footer-top .footer-top-left h2 {
    
    font-size: 30px;
    line-height: 35px;
    
  }
  #footer .footer .footer-top .footer-top-left p {
    font-size: 16px;
   
  }
  
  /* Footer Top Right Section */
  #footer .footer .footer-top .footer-top-right {
    width: 250px;
    margin-left: 0;
    margin-top: 0;
   
  }
  #footer .footer .footer-top .footer-top-right input {

    padding: 1rem 3rem;
    font-size: 16px;
  }
  
  
  #footer .footer .footer-top .footer-top-right .btn-orange {
    padding:1rem 3rem;
    
  }

  .footer-bottom {
    height: auto;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 0;
  
  }

  ul {
   
    font-size: 14px;
    line-height: 24px;
    
  }
  
 .footer-bottom .social{
  margin-bottom: 10px;
 }

  .footer-bottom .social h3 {
   
    font-size: 16px;
  }
  .footer-bottom .social p {
    
    font-size: 14px;
    
  }
  .footer-bottom .social .icons {
    
    margin-top: 15px;
    
  }
  
  .footer-bottom .company {
    margin-left: 0;
    
  }
  .footer-bottom .company h3 {
    font-size: 16px;
  }
  .footer-bottom .resources {
    margin-left: 0px;
  }

  .footer-bottom .resources h3{
    font-size: 16px;
  }
 
 
  .footer-bottom .newsletter {
    margin-left: 0px;
  }
  .footer-bottom .newsletter h3 {
    font-size: 16px;
  }
  .footer-bottom .newsletter .btn {
    margin-top: 24px;
  }
  .footer-bottom .newsletter .input-field-1 {
    width: 80%;
    position: relative;
    font-size: 16px;
  }
  .footer-bottom .newsletter .input-field-2 {
   position:absolute;
   right:10%;
    width: 150px;
   
  }
 
  .footer-bottom .newsletter p {
    width: 300px;
    height: 52px;
    font-size: 16px;
  }


  .footer-section {
    margin-top: 20px;
    
  }

}