@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Manrope:wght@500;600;700;800&display=swap");

@font-face {
    font-family: 'Gilroy';
    src: url(fonts/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
    src: url(fonts/Radomir\ Tinkov\ -\ Gilroy-Light.otf);
  }

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    
}








section{
   width:100vw;
   background-color: #3734A9;
    
}

.feedback{
    
    width:calc(100vw-122px);
    max-width:1089px ;
    margin:0 auto;
    /* margin-top:116px; */
    padding:74px 0px 75px;
    display: flex;
    justify-content: space-around;
}

.feedback .title{
    width:481px;
}



.feedback .title .text-1{
    width: 120px;
    height: 17px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    
}

.feedback .title .text-3{

height: 180px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 60px;
letter-spacing: -0.03em;
color: #FFFFFF;
}


.feedback .title .text-2{
width: 446px;
height: 60px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
letter-spacing: -0.02em;
color: #FFFFFF;


}


.feedback .form{
width:371px;
margin-top:73px;
}

.feedback .form .input .input-field-1 {
   
background: #F2F3F4;
width:100%;
color: #BBB5E0;
font-size: 20px;
line-height: 30px;
letter-spacing: -0.02em;
opacity: 0.4;
border:none;
border-radius: 5px;
padding:18px 0px 12px 21px;
font-family: 'Gilroy';
}


.feedback .form .input .input-field-2{
  
    width:100%;
    background: #F2F3F4;
    opacity: 0.4;
    color:#BBB5E0;
    font-family: 'Gilroy';
   font-size: 20px;
line-height: 30px;
letter-spacing: -0.02em;
   border:none;
    border-radius: 5px;
    padding:18px 0px 12px 21px;
}

.feedback .form .input .btn {
    width:100%;
background: #FF7F5C;
border:none;
border-radius: 5px;
font-family: 'Gilroy';
font-style: normal;

}

.feedback .form .input .btn a{
    text-decoration: none;
    font-weight: 700;
font-size: 16px;
line-height: 30px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}


/* footer{
    background-color: #fff;
    max-width:1440px;
    height:480px;
    border: 2px solid #fff;
   
}




.footer{
    height:198px;
    width:1140px;
    position: absolute;
    margin-top:66px;
    left:172px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    align-items:stretch;
    position:relative;
}


.footer .social{
    width:213px;
    height:153px;
}


.footer .social h3{
 font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 28px;
letter-spacing: -0.02em;
color: #1B1C31;

}


.footer .social p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #757095;
    margin-top:18px;
    
}


.footer .social .icons {
    display:flex;
    flex-direction: row;
    margin-top:32px;
    align-items: center;
  
   
}


.icons .icon-2, .icons .icon-3, .icons .icon-4{
    margin-left:10px;
} 

box-icon{
    width:100%;
    height:100%;
}



.footer .company{
 margin-left: 90px; 
 font-family: 'Manrope';
 color:#181433;

}


.footer .company .h3{
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 24px;
}

.footer .resources{
    margin-left: 80px;
    font-family: 'Manrope';
    color:#181433;
}


ul {
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin:24px 0px; 
      }
    
    
      ul .link-1{
        margin-top:18px;
      }
    
    
      ul .link-2{
        margin-top:12px;
      }
    
     ul a{
        text-decoration: none;
        color:#181433;
     } 
    
    

.footer .newsletter{
    
    font-family: 'Manrope';
    color:#181433;
  margin-left: 55px;
}



.footer .newsletter h3{
font-weight: 700;
font-size: 21px;
line-height: 24px;
}


.footer .newsletter .btn {
    margin-top:24px;
}

.footer .newsletter .input-field-1{
    border:1px solid #3734A9;
    width:389px;
    height:52px;
    position:relative;
    padding:15px 0px 15px 15px;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: -0.02em;
opacity: 0.2;
}

.footer .newsletter .input-field-2{
    background-color: #3734A9;
    color:#fff;
    border:none;
    width: 149px;
    height:52px;
     border:1px solid #3734A9;
    position:absolute;
    left:87%;
    font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: -0.02em;
} 

input{
    width:100%;
    height:100%;
}


.footer .newsletter p{
    width:329px;
    height:52px;
    margin-top: 21px;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: -0.02em;
opacity: 0.5;
}

 footer .footer-line{
    width:1140px;
    height:2px;
    margin-top:59px;
  background-color: #E5E5EA;
  color:#E5E5EA;
  margin-left:172px;
} 


.footer-section{
   text-align: center;
    margin-top: 40px;
 
    
} */


 
