@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Manrope:wght@500;600;700;800&display=swap");

/*
=============== 
Variables
===============
*/
:root {
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --transition: all 0.3s linear;
  --font-family: "Manrope", sans-serif;
  --white: #fff;
  --black: #000;
  --light-grey: #64607d;
  --btn-bg-color: #4f46ba;
  --grey: #dee1e6;
  --font-size-big: 42px;
  --font-size-medium: 20px;
  --font-size-small: 18px;
  --font-size-extra-small: 16px;
  --border-radius: 10px;
}
/*
=============== 
Global Selectors
===============
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family);
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
.btn {
  border: none;
  outline: none;
}
.btn-dark-rounded {
  background: var(--btn-bg-color);
  color: var(--grey);
  border-radius: var(--border-radius);
  width: 195px;
  height: 60px;
  font-weight: 600;
  font-size: var(--font-size-extra-small);
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  transition: var(--transition);
}


/*
=============== 
General Class Selectors
===============
*/
.container {
  width: calc(100vw - 121px);
  max-width: 1196px;
  margin: 0px auto;
  margin-block-end: 15%;
  position: relative;
}
.home-vector {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transform: translateY(-100px);
  transform: translateX(15%);
}
.bars{
  display: none;
}
/*
=============== 
Header Section
===============
*/
.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.container header .nav-link .pdt-link,
.container header .nav-link .template-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.container header .nav-link ul {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.container header .nav-link ul li a {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.container header .signup {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container header .signup a {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color:#000000;
}
.container header .signup .btn-dark {
  background: #4f46ba;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: none;
  padding: 1rem 3rem;
  margin-top: 5px;
}
.btn-dark-rounded {
  border-radius: 47px;
  outline: none;
  border: none;
}

/*
=============== 
Hero Section
===============
*/
.container #hero {
  width: 1037px;
  height: 438px;
  margin: 145px auto;
}
.container #hero .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
=============== 
Hero-left section
===============
*/

.container #hero .hero .hero-left-section {
  width: 646px;
}
.container #hero .hero .hero-left-section h1 {
  font-weight: 800;
  font-size: 60px;
  line-height: 74px;
  letter-spacing: -0.03em;
  margin-bottom: 19px;
}
.container #hero .hero .hero-left-section p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: var(--light-grey);
  margin-bottom: 47px;
}
.container #hero .hero .hero-btn-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container #hero .hero .hero-btn-section .play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.container #hero .hero .hero-btn-section .play-btn span {
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  color: var(--btn-bg-color);
  letter-spacing: -0.02em;
}
/*
=============== 
Hero right section
===============
*/
.container #hero .hero .hero-right-section {
  width: 356px;
}
.container #hero .hero .hero-right-section h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: var(--btn-bg-color);
  margin-bottom: 22px;
}
.container #hero .hero .hero-right-section input {
  background: #ffffff;
  border: 1px solid #dfe4f1;
  border-radius: 5px;
  outline: none;
  width: 100%;
  padding: 1rem 3rem;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: var(--light-grey);
  opacity: 0.4;
}
.container #hero .hero .hero-right-section #email {
  margin-bottom: 24px;
}
.container #hero .hero .hero-right-section .btn-orange {
  outline: none;
  border: none;
  background: #ff7f5c;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  padding: 1rem 3rem;
  margin-top: 24px;
}

.container .company-slide {
  margin: 118px auto;
}
.container .company-slide h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin-bottom: 39.66px;
}
.container .company-slide .slides {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/*
=============== 
Media query
===============
*/

@media screen and (max-width: 500px) {
  .home-vector {
    display: none;
  }
.bars{
  display: block;
}
.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo i{
  font-size: 30px;
}
.container header{
  width: 170%;
}
.container header .nav-link,
.container header .signup{
  display: none;
}

/*
=============== 
Hero Section
===============
*/
.container #hero {
  width: 400px;
  margin: 50px auto;
  margin-block-end: 350%;
}
.container #hero .hero {
flex-direction: column;
justify-content: start;
align-items: start;
}


/*
=============== 
Hero-left section
===============
*/

.container #hero .hero .hero-left-section {
  width: 400px;
}
.container #hero .hero .hero-left-section h1 {
  font-size: 30px;
  line-height: 45px;
}

.container #hero .hero .hero-btn-section {
  justify-content: start;
  align-items: start;
  margin-bottom: 30px;
}
.container #hero .hero .hero-btn-section .play-btn span {
  font-size: 14px;
}


/*
=============== 
Hero right section
===============
*/

.container .company-slide {
  margin: 50px auto;
}
.container .company-slide h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin-bottom: 39.66px;
}
.container .company-slide .slides {
  display:grid;
  grid-template-columns:1fr 1fr;
}

}
