/*css reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

select {
  border: none;
  font-weight: bold;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end*/

/*css styles*/

body {
  line-height: 1;
  font-family: Manrope;
  background-image: url(images/icons/background.svg);
  background-repeat: no-repeat;
  background-size: 860px;
  background-position: right top;
}

header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-block: 14px;
  margin-bottom: 100px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-left: 100px;
  margin-top: 30px;
}

li > a {
  text-decoration: none;
  color: black;
}

li {
  display: inline;
  margin-left: 30px;
  position: relative;
  line-height: 19px;
  font-weight: bold;
  font-size: 14px;
}

nav {
  margin-left: auto;
}

.wrapper {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 16px;
  display: flex;
}

.container {
  background-clip: margin-left;
}

.heading_left {
  width: 120px;
  height: 25px;
  left: 10%;
  font-weight: bold;
  font-size: 20px;
  line-height: 24.76px;
  width: 120px;
  height: 25px;
  position: absolute;
}

.btn_head {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: white;
  background: #4f46ba;
  border-radius: 10px;
  width: 137px;
  padding: 17px 35px 16px;
  position: relative;
  margin-bottom: 0px;
  border: none;
}

.heading_center {
  align-items: center;
  margin-left: 100px;
}

.sign-in {
  margin-left: 100px;
  box-sizing: border-box;
}

.topic {
  font-size: 4.5vw;
  font-weight: bold;
  margin-right: 30px;
}

.topic-mini {
  line-height: 30px;
  color: #06467d;
  display: flex;
}

.process {
  display: flex;
}

.process-btn {
  color: #ffffff;
  background-color: #3734a9;
  padding: 1.5vw 4vw;
  box-sizing: border-box;
  border-radius: 47px;
  border: none;
  font-size: 1.5vw;
  line-height: 3vw;
  margin-top: 20px;
}

small > a {
  font-size: 1.5vw;
  font-weight: 600;
  line-height: 3vw;
  text-decoration: none;
  width: 134px;
}

.start {
  font-size: 3vw;
  font-weight: bold;
  line-height: 3vw;
  color: #3734a9;
  margin-bottom: 10px;
}

#start-form {
  height: 10vw;
  margin-left: 5vw;
}

.start-btn {
  background-color: #ff7f5c;
  color: #ffffff;
  padding: 1.6vw 12.5vw 1.4vw 12.6vw;
  border: none;
  font-size: 1.6vw;
  width: 35.6vw;
}

.startup {
  text-align: center;
  font-weight: bold;
  font-size: 2.2vw;
  line-height: 3vw;
  margin-top: 6vw;
  margin-bottom: 3vw;
}

.check-it-btn {
  padding: 2.1vw 4.4vw 1.9vw 4.3vw;
  height: 6vw;
  color: #ffffff;
  background-color: #4f46ba;
  border: none;
  border-radius: 10px;
  margin-left: 15vw;
  box-sizing: border-box;
  width: 18.1vw;
  margin-top: 5vw;
}

.middle-topic {
  font-weight: bold;
  font-size: 3.2vw;
  line-height: 5.6vw;
}

.track {
  display: flex;
  max-width: 1044px;
  height: 19.6vw;
  background-color: #f8f9fd;
  margin-left: auto;
  margin-right: auto;
  padding: 3.8vw 7.2vw 4.6vw 7vw;
}

#email {
  width: 35.6vw;
  border: 1px solid #dfe4f1;
  padding: 1.6vw 20.8vw 1.4vw 2.1vw;
  margin-bottom: 2vw;
  color: #64607d;
}

#password {
  width: 35.6vw;
  border: 1px solid #dfe4f1;
  padding: 1.6vw 20.8vw 1.4vw 2.1vw;
  margin-bottom: 2vw;
}

.login-form {
  margin-left: 10vw;
  margin-top: 2vw;
}

.play-image {
  position: relative;
  top: 2vw;
  margin-left: 4vw;
  margin-right: 2vw;
}

.contact {
  margin-top: 3vw;
  font-weight: bold;
  font-size: 2.2vw;
  line-height: 3vw;
}

.get-in-touch {
  margin-top: 1.5vw;
  font-size: 1.6vw;
  line-height: 3vw;
  margin-bottom: 2.6vw;
}

.contact-form {
  margin-left: 12.5vw;
  margin-right: 6vw;
  margin-bottom: 3vw;
}

.form-group {
  margin-bottom: 2vw;
}

.form-group input,
.form-group textarea {
  width: 36vw;
  border: 1px solid #dfe4f1;
  padding: 1.6vw 1.6vw 1.4vw 2.1vw;
}

.form-group textarea {
  height: 14vw;
}

.form-btn {
  padding: 1.6vw 4.4vw 1.4vw 4.3vw;
  height: 6vw;
  color: #ffffff;
  background-color: #4f46ba;
  border: none;
  border-radius: 10px;
  margin-left: 15vw;
  box-sizing: border-box;
  width: 12.1vw;
  margin-top: 2vw;
}

.footer {
  background-color: #f8f9fd;
  padding: 6vw 7vw 7vw 7vw;
}

.footer-title {
  font-weight: bold;
  font-size: 2.4vw;
  line-height: 3.6vw;
  margin-bottom: 2.4vw;
}

.footer-text {
  font-size: 1.6vw;
  line-height: 2.8vw;
  color: #64607d;
  margin-bottom: 2.2vw;
}

.footer-links {
  display: flex;
  gap: 3vw;
}

.footer-link {
  font-size: 1.6vw;
  line-height: 2.8vw;
  color: #64607d;
  text-decoration: none;
}

.footer-link:hover {
  color: #4f46ba;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 4vw;
}

.footer-logo img {
  height: 4vw;
  margin-right: 1.2vw;
}

.social-icons {
  display: flex;
  gap: 2vw;
  margin-bottom: 3vw;
}

.social-icons img {
  height: 2.4vw;
}

/* media queries */

@media only screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  
  .container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  
  header {
    margin-bottom: 50px;
  }
  
  ul {
    margin: 0;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  li {
    margin: 0 15px;
  }
  
  .heading_left {
    position: static;
    width: auto;
    margin-bottom: 20px;
  }
  
  .btn_head {
    padding: 15px 30px;
  }
  
  .topic {
    font-size: 18px;
  }
  
  .topic-mini {
    font-size: 12px;
  }
  
  .start {
    font-size: 24px;
  }
  
  .start-btn {
    padding: 15px 30px;
  }
  
  .startup {
    font-size: 28px;
  }
  
  .check-it-btn {
    padding: 15px 30px;
  }
  
  .middle-topic {
    font-size: 28px;
  }
  
  .track {
    padding: 30px;
  }
  
  #email,
  #password {
    width: 100%;
    padding: 15px 20px;
  }
  
  .login-form {
    margin-left: 0;
    margin-top: 0;
  }
  
  .play-image {
    top: 0;
    margin: 0;
  }
  
  .contact {
    font-size: 28px;
  }
  
  .get-in-touch {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .contact-form {
    margin-left: 0;
    margin-right: 0;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 15px 20px;
  }
  
  .form-group textarea {
    height: 120px;
  }
  
  .form-btn {
    padding: 15px 30px;
  }
  
  .footer {
    padding: 30px;
  }
  
  .footer-title {
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 24px;
  }
  
  .footer-text {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 22px;
  }
  
  .footer-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-link {
    font-size: 18px;
    line-height: 28px;
  }
  
  .footer-logo {
    justify-content: center;
    margin-bottom: 32px;
  }
  
  .footer-logo img {
    height: 28px;
    margin-right: 8px;
  }
  
  .social-icons {
    justify-content: center;
    margin-bottom: 24px;
  }
  
  .social-icons img {
    height: 14px;
  }
}
/* Add the following code at the end of your CSS */

/* media queries */
@media only screen and (max-width: 768px) {
  .company-logo ul {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .company-logo li {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: center;
  }
  
  .company-logo img {
    height: 30px;
    max-width: 100%;
  }
  .headers{
    display: grid;margin:0px;
    justify-content: flex-start;
   } 
  .nav{
    display: grid;flex-direction: column;
  }
  .wrapper {
    display: grid;
    flex-direction: column;
    align-items: center;
  }
  
  .container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  
  header {
    margin-bottom: 50px;
    display:grid;
  }
  
  ul {
    margin: 0;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  li {
    margin: 0 15px;
  }
  
  .heading_left {
    position: static;
    width: auto;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .btn_head {
    padding: 15px 30px;
  }
  
  .topic {
    font-size: 28px;
    text-align: center;
  }
  
  .topic-mini {
    font-size: 14px;
    text-align: center;
  }
  
  .start {
    font-size: 14px;
    text-align: center;
  }
  
  .start-btn {
    padding: 15px 30px;
    
  }
  
  .startup {
    font-size: 16px;
    text-align: center;
  }
  
  .company-logo {
    text-align: center;
  }
  
  .company-logo ul {
    display: grid;
  }
  
  .company-logo li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .company-logo img {
    height: 30px;
  }
 

}
